* {
    box-sizing: border-box;
}

body {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    padding-left: 680px;
    color: black;
}

.container {
    position: relative;
    margin-bottom: 600px;
}

.box {
    position: absolute;

    width: 250px;
    height: 250px;
    font-size: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(1) {
    top: 20px;
    left: 130px;
    background-color: green;

    z-index: 2;
}

.box:nth-child(2) {
    top: 120px;
    left: 280px;
    background-color: blue;

    z-index: 2;
}

.box:nth-child(3) {
    top: 220px;
    left: 430px;
    background-color: red;

    z-index: 1;
}

/* Вправа 2 */

.menu-title {
    padding-left: 680px;
    color: black;
}

.thumb {
    position: relative;
     width: 250px;
     height: 750px;
     overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: grey;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    transform: translateX(-70%);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.overlay:hover {
    transform: translateX(0);
}

.overlay:hover p {
    opacity: 0;
}

.list {
    padding: 40px;
}

.list-item {
    font-size: 20px;
}

.list-item:hover {
    color: rgb(245, 199, 113);
}

.list-item:not(:last-child) {
    margin-bottom: 11px;
}

p {
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 30px;
    transition: opacity 300ms ease;
}